In [24]:
# importing libraries
import numpy as np
import pandas as pd
import math, statistics, scipy.stats
import matplotlib.pyplot as plt

# Question 1
A = [1,2,3,4,5,6]
B = [13,21,34]
A + B

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [28]:
# Question 2
np.array([[1,2,3],[4,5,6],[7,8,9]])
np.identity(3, dtype=int)

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

In [49]:
# Question 3
fuel_data = pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv',
                 error_bad_lines=False)
print(fuel_data.head())
df_copy = fuel_data.copy()
# df_copy.head()

# df_copy = df.set_index('fuel_type_code_pudl')
a = fuel_data['fuel_cost_per_unit_burned'].argmin()
print(fuel_data.iloc[a])

# Question 4
print(fuel_data.describe())

# Question 5
scipy.stats.describe(fuel_data['fuel_qty_burned'])

                record_id  utility_id_ferc1  report_year  \
0   f1_fuel_1994_12_1_0_7                 1         1994
1  f1_fuel_1994_12_1_0_10                 1         1994
2   f1_fuel_1994_12_2_0_1                 2         1994
3   f1_fuel_1994_12_2_0_7                 2         1994
4  f1_fuel_1994_12_2_0_10                 2         1994

       plant_name_ferc1 fuel_type_code_pudl fuel_unit  fuel_qty_burned  \
0              rockport                coal       ton        5377489.0
1  rockport total plant                coal       ton       10486945.0
2                gorgas                coal       ton        2978683.0
3                 barry                coal       ton        3739484.0
4             chickasaw                 gas       mcf          40533.0

   fuel_mmbtu_per_unit  fuel_cost_per_unit_burned  \
0               16.590                      18.59
1               16.592                      18.58
2               24.130                      39.72
3               23.950                      47.21
4                1.000                       2.77

   fuel_cost_per_unit_delivered  fuel_cost_per_mmbtu
0                         18.53                1.121
1                         18.53                1.120
2                         38.12                1.650
3                         45.99                1.970
4                          2.77                2.570
record_id                       f1_fuel_2000_12_194_3_3
utility_id_ferc1                                    194
report_year                                        2000
plant_name_ferc1                    nelson dewey unit 2
fuel_type_code_pudl                               waste
fuel_unit                                           ton
fuel_qty_burned                                      39
fuel_mmbtu_per_unit                              0.0155
fuel_cost_per_unit_burned                       -276.08
fuel_cost_per_unit_delivered                    -174.67
fuel_cost_per_mmbtu                              -8.906
Name: 7733, dtype: object
       utility_id_ferc1   report_year  fuel_qty_burned  fuel_mmbtu_per_unit  \
count      29523.000000  29523.000000     2.952300e+04         29523.000000
mean         118.601836   2005.806050     2.622119e+06             8.492111
std           74.178353      7.025483     9.118004e+06            10.600220
min            1.000000   1994.000000     1.000000e+00             0.000001
25%           55.000000   2000.000000     1.381700e+04             1.024000
50%          122.000000   2006.000000     2.533220e+05             5.762694
75%          176.000000   2012.000000     1.424034e+06            17.006000
max          514.000000   2018.000000     5.558942e+08           341.260000

       fuel_cost_per_unit_burned  fuel_cost_per_unit_delivered  \
count               29523.000000                  2.952300e+04
mean                  208.649031                  9.175704e+02
std                  2854.490090                  6.877593e+04
min                  -276.080000                 -8.749370e+02
25%                     5.207000                  3.778500e+00
50%                    26.000000                  1.737100e+01
75%                    47.113000                  4.213700e+01
max                139358.000000                  7.964521e+06

       fuel_cost_per_mmbtu
count         29523.000000
mean             19.304354
std            2091.540939
min             -41.501000
25%               1.940000
50%               4.127000
75%               7.745000
max          359278.000000

DescribeResult(nobs=29523, minmax=(1.0, 555894250.0), mean=2622119.38078786, variance=83137988310375.69, skewness=15.850690077422112, kurtosis=651.2589365474387)

In [52]:
# Question 6
print(fuel_data.isnull().sum())
percent = 180/len(fuel_data)
percent

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

0.00609694136774718

In [55]:
# Question 10
b = fuel_data['fuel_cost_per_unit_delivered'].argmax()
print(fuel_data.iloc[b])

record_id                       f1_fuel_1997_12_9_0_8
utility_id_ferc1                                    9
report_year                                      1997
plant_name_ferc1                         peach bt 2&3
fuel_type_code_pudl                           nuclear
fuel_unit                                      gramsU
fuel_qty_burned                                210474
fuel_mmbtu_per_unit                           6.5e-05
fuel_cost_per_unit_burned                      37.847
fuel_cost_per_unit_delivered              7.96452e+06
fuel_cost_per_mmbtu                             0.578
Name: 3564, dtype: object